<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Package UpgradeCode="744f23c4-7adb-42fa-a781-ac940dc4b454" Version="!(bind.fileVersion.EverythingToolbarDll)" Language="1033" Name="EverythingToolbar" Manufacturer="Stephan Rumswinkel" InstallerVersion="300">
		<Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." AllowSameVersionUpgrades="yes" />

		<Icon Id="icon.ico" SourceFile="..\EverythingToolbar.Launcher\Icons\Medium.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<PropertyRef Id="NETFRAMEWORK45" />
		<Launch Condition="Installed OR (NETFRAMEWORK45 AND NETFRAMEWORK45 &gt;= &quot;#460798&quot;)" Message="This application requires at least .NET Framework 4.7. Please install the .NET Framework and run this installer again." />

		<Property Id="WINDOWSBUILDNUMBER" Secure="yes">
			<RegistrySearch Id="BuildNumberSearch" Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion" Name="CurrentBuildNumber" Type="raw" />
		</Property>

		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />

		<Property Id="MSIRESTARTMANAGERCONTROL" Value="Disable" />

		<DirectoryRef Id="APPLICATIONFOLDER">
			<Component Id="RegistryEntries" Guid="bbe654c6-1f51-4353-8c4b-7b79ecf31177" Bitness="always64">
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}" Value="Everything Toolbar" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories\{00021492-0000-0000-c000-000000000046}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Value="mscoree.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="Class" Value="CSDeskBand.Deskband" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="Assembly" Value="EverythingToolbar.Deskband, Version=!(bind.fileVersion.EverythingToolbarDll), Culture=neutral, PublicKeyToken=3b7d0980372ca18d" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="CodeBase" Value="file:///[APPLICATIONFOLDER]EverythingToolbar.Deskband.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="Class" Value="CSDeskBand.Deskband" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="Assembly" Value="EverythingToolbar.Deskband, Version=!(bind.fileVersion.EverythingToolbarDll), Culture=neutral, PublicKeyToken=3b7d0980372ca18d" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="CodeBase" Value="file:///[APPLICATIONFOLDER]EverythingToolbar.Deskband.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\ProgId" Value="CSDeskBand.Deskband" Type="string" Action="write" />
			</Component>
			<Component Id="EverythingToolbarAssembly" Guid="139bb06d-c8dc-4044-a2b7-037eab866497" Bitness="always64">
				<File Id="EverythingToolbarDll" KeyPath="yes" Source="$(var.HarvestPath)\EverythingToolbar.dll" />
			</Component>
			<Component Id="EverythingToolbar.Launcher.exe" Guid="7d17bda2-c6f8-4e9e-8110-1b36ba89ff09" Bitness="always64">
				<File Id="EverythingToolbar.Launcher.exe" KeyPath="yes" Source="$(var.HarvestPath)\EverythingToolbar.Launcher.exe" />
			</Component>
		</DirectoryRef>

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="6fcae307-2eda-4c3c-af77-2d12daa46762" Condition="WINDOWSBUILDNUMBER &gt;= 22000" Bitness="always64">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="EverythingToolbar" Description="Everything integration for the Windows taskbar." Target="[#EverythingToolbar.Launcher.exe]" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\EverythingToolbar" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="MainApplication" Title="EverythingToolbar" Level="1">
			<ComponentGroupRef Id="HeatGenerated" />
			<ComponentRef Id="RegistryEntries" />
			<ComponentRef Id="EverythingToolbarAssembly" />
			<ComponentRef Id="EverythingToolbar.Launcher.exe" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<InstallExecuteSequence>
			<ScheduleReboot After="InstallFinalize" Condition="REMOVE=&quot;ALL&quot;" />
		</InstallExecuteSequence>

		<Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
		<UI>
			<ui:WixUI Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />
			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2" />
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" />
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication" Condition="WINDOWSBUILDNUMBER &gt;= 22000 and NOT Installed" />
		</UI>

		<Property Id="WixShellExecTarget" Value="[#EverythingToolbar.Launcher.exe]" />
		<CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_X86" />
	
		<StandardDirectory Id="ProgramFiles64Folder">
			<Directory Id="APPLICATIONFOLDER" Name="EverythingToolbar" />
		</StandardDirectory>
		<StandardDirectory Id="ProgramMenuFolder">
			<Directory Id="ApplicationProgramsFolder" Name="EverythingToolbar" />
		</StandardDirectory>
	</Package>
</Wix>