<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" UpgradeCode="744f23c4-7adb-42fa-a781-ac940dc4b454" Version="!(bind.fileVersion.EverythingToolbarDll)" Language="1033" Name="EverythingToolbar" Manufacturer="Stephan Rumswinkel">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perUser" />
		<Media Id="1" Cabinet="myapplication.cab" EmbedCab="yes" />
		<MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
		<Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
		
		<util:RestartResource ProcessName="explorer.exe" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="LocalAppDataFolder">
				<Directory Id="APPLICATIONROOTDIRECTORY" Name="EverythingToolbar" />
			</Directory>
		</Directory>

		<DirectoryRef Id="APPLICATIONROOTDIRECTORY">
			<Component Id="RegistryEntries" Guid="bbe654c6-1f51-4353-8c4b-7b79ecf31177" Win64="yes">
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}" Value="Everything Toolbar" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories\{00021492-0000-0000-c000-000000000046}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Value="mscoree.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="ThreadingModel" Value="Both" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="Class" Value="CSDeskBand.Deskband" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="Assembly" Value="EverythingToolbar, Version=!(bind.fileVersion.EverythingToolbarDll), Culture=neutral, PublicKeyToken=3b7d0980372ca18d" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32" Name="CodeBase" Value="file:///[APPLICATIONROOTDIRECTORY]EverythingToolbar.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="Class" Value="CSDeskBand.Deskband" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="Assembly" Value="EverythingToolbar, Version=!(bind.fileVersion.EverythingToolbarDll), Culture=neutral, PublicKeyToken=3b7d0980372ca18d" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\InprocServer32\!(bind.fileVersion.EverythingToolbarDll)" Name="CodeBase" Value="file:///[APPLICATIONROOTDIRECTORY]EverythingToolbar.dll" Type="string" Action="write" />
				<RegistryValue Root="HKCU" Key="Software\Classes\CLSID\{9D39B79C-E03C-4757-B1B6-ECCE843748F3}\ProgId" Value="CSDeskBand.Deskband" Type="string" Action="write" />
			</Component>

			<Component Id="EverythingToolbarAssembly" Guid="139bb06d-c8dc-4044-a2b7-037eab866497" Win64="yes">
				<File Id="EverythingToolbarDll" KeyPath="yes" Source="$(var.HarvestPath)\EverythingToolbar.dll" />
			</Component>
		</DirectoryRef>

		<Feature Id="MainApplication" Title="EverythingToolbar" Level="1">
			<ComponentGroupRef Id="HeatGenerated" />
			<ComponentRef Id="RegistryEntries" />
			<ComponentRef Id="EverythingToolbarAssembly" />
		</Feature>
 
		<CustomAction Id="StartExplorer" Directory="APPLICATIONROOTDIRECTORY" Execute="deferred" Impersonate="yes" ExeCommand="powershell Stop-Process -ProcessName explorer" Return="ignore" />
		
		<InstallExecuteSequence>
			<Custom Action="StartExplorer" Before="InstallFinalize" />
		</InstallExecuteSequence>
	</Product>
</Wix>