<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EverythingToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <EverythingToolbar.Properties.Settings>
            <setting name="isMatchCase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRegExEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isMatchPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sortBy" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="isMatchWholeWord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="popupSize" serializeAs="String">
                <value>700,700</value>
            </setting>
            <setting name="everythingPath" serializeAs="String">
                <value>C:\\Program Files\\Everything\\Everything.exe</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>MEDIUM</value>
            </setting>
            <setting name="itemTemplate" serializeAs="String">
                <value>NORMAL</value>
            </setting>
            <setting name="isAutoApplyRules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isIconOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filtersPath" serializeAs="String">
                <value />
            </setting>
            <setting name="isImportFilters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shortcutModifiers" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="shortcutKey" serializeAs="String">
                <value>62</value>
            </setting>
            <setting name="isAnimationsDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHideEmptySearchResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowResultsCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isShowQuickToggles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isEnableHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isReplaceStartMenuSearch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRememberFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastFilter" serializeAs="String">
                <value />
            </setting>
        </EverythingToolbar.Properties.Settings>
    </userSettings>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2" />
    </System.Windows.Forms.ApplicationConfigurationSection>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
